<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RedditCloneConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\C#\Test\RedditClone\RedditClone\App_Data\RedditClone.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership  defaultProvider="MyMembership">
      <providers>
        <add name="MyMembership"
        connectionStringName="ConnectionString"
        passwordFormat="Hashed"
        minRequiredPasswordLength="2"
        minRequiredNonalphanumericCharacters="0"
        requiresQuestionAndAnswer="False"
        requiresUniqueEmail="True"
        type="RedditClone.Controllers.RedditMembershipProvider,
        RedditClone"/>
      </providers>

    </membership>
  </system.web>
</configuration>