<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RedditCloneConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Soon HUi\Open Source\RedditClone\RedditClone\App_Data\RedditClone.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <!--<add name="RedditCloneTests.Properties.Settings.RedditCloneConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Soon HUi\Open Source\RedditClone\RedditClone\App_Data\RedditClone.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <membership  defaultProvider="RedditMembershipProvider">
      <providers>
        <clear/>
        <add name="RedditMembershipProvider"
             type="RedditClone.Models.RedditMembershipProvider, RedditClone"
             connectionStringName="RedditCloneConnectionString"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="false"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5"
             minRequiredPasswordLength="6"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"
             passwordStrengthRegularExpression=""
             applicationName="/"/>
      </providers>
    </membership>
  </system.web>
</configuration>